---
import Layout from '../layouts/Layout.astro';
import Datos_Ident from '../components/Datos_Ident.astro';
import Datos_Solicitante from '../components/Datos_Solicitante.astro';
import Des from '../components/Des.astro';
import Aprobacion from '../components/Aprobacion.astro';
import First_Part from '../components/First_Part.astro';
import Tabla from '../components/Tabla';
import Tabla_C from '../components/Tabla_C';
import Tabla_A from '../components/Tabla_A';
---

<Layout title="Formulario de Cambio">
	<main>
	  <div class="max-w-4xl mx-auto text-center flex justify-center">
		<h2 class="mb-4 text-3xl text-white tracking-tight font-extrabold p-8">"FORMULARIO DE GESTION DE CAMBIO</h2>
	  </div>
	  <div class="container mx-auto flex items-center justify-center">
		<div class="w-full md:w-3/4 lg:w-7/12 bg-slate-100 rounded-lg shadow-md p-5">
			<section>
			  <First_Part>
				<br/>
			  </section>
			  <form>
				<Datos_Ident/>
				<br/>
				<Datos_Solicitante/>
				<br/>
				<Des/>
				<br/>
				<Tabla client:visible/>
				<br/>
				<Tabla_C client:visible/>		  
				<br/>
				<Aprobacion/>
				<Tabla_A client:visible/>
				<br/>
				<div class="flex justify-center">
					<button type="submit" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
					  Enviar
					</button>
				</div>
			  </form>
		  </div>	  
	  </div>
	</main>
  </Layout>
  