---
import First_Part from "../components/First_Part.jsx";

---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <title>Actividades</title>
</head>
<body class="bg-gray-100 placeholder">
<div class="px-100px">
  <First_Part>
  </First_Part>
</div>

</body>
</html>