<div>
  <h1 class="mb-4 text-gray-700 tracking-tight font-extrabold">Actividades</h1>
  <table class="min-w-full bg-gray-400 border border-gray-400">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b">Actividad</th>
        <th class="py-2 px-4 border-b">Entregable</th>
        <th class="py-2 px-4 border-b">Fecha de Inicio</th>
        <th class="py-2 px-4 border-b">Fecha de Fin</th>
      </tr>
    </thead>
    <tbody id="activitiesTableBody">
      <tr>
        <td class="py-2 px-4 border-b"><input type="text" class="w-full border rounded px-3 py-2"></td>
        <td class="py-2 px-4 border-b"><input type="text" class="w-full border rounded px-3 py-2"></td>
        <td class="py-2 px-4 border-b"><input type="date" class="w-full border rounded px-3 py-2"></td>
        <td class="py-2 px-4 border-b"><input type="date" class="w-full border rounded px-3 py-2"></td>
      </tr>
    </tbody>
  </table>

  <button class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="addRow()">Añadir Actividad</button>
</div>
