<h1 class="mb-4 text-gray-700 tracking-tight font-extrabold">Actividades</h1>
<table class="min-w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b">Actividad</th>
        <th class="py-2 px-4 border-b">Entregable</th>
        <th class="py-2 px-4 border-b">Fecha de Inicio</th>
        <th class="py-2 px-4 border-b">Fecha de Fin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="py-2 px-4 border-b"><input type="text" class="w-full border rounded px-3 py-2"></td>
        <td class="py-2 px-4 border-b"><input type="text" class="w-full border rounded px-3 py-2"></td>
        <td class="py-2 px-4 border-b"><input type="date" class="w-full border rounded px-3 py-2"></td>
        <td class="py-2 px-4 border-b"><input type="date" class="w-full border rounded px-3 py-2"></td>
      </tr>
    </tbody>
  </table>
</div>


