
<h1 class="mb-4 text-gray-700 tracking-tight font-extrabold">Datos de Identificación</h1>

<div class="sm:col-span-4 justify-center">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="nya">Nombre del Proyecto</label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-200 dark:text-gray-800" id="nya" name="nya" type="text" required>
</div>
<br/>
<div class="sm:col-span-4 justify-center">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="nya">Código del Proyecto</label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-200 dark:text-gray-800" id="nya" name="nya" type="text" required>
</div>
<br/>
<div class="sm:col-span-4 justify-center">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="nya">Nombre del Director del Proyecto</label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-200 dark:text-gray-800" id="nya" name="nya" type="text" required>
</div>