<h1 class="mb-4 text-gray-700 tracking-tight font-extrabold">Descripción del Cambio</h1>
<div class="sm:col-span-4 justify-center">
    <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-200 dark:text-gray-800" id="nya" name="nya" type="text" required>
    </textarea>    
</div>
<br/>
<h1 class="mb-4 text-gray-700 tracking-tight font-extrabold">Justificación de la Propuesta</h1>
<div class="sm:col-span-4 justify-center">
    <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-200 dark:text-gray-800" id="nya" name="nya" type="text" required>
    </textarea>  
</div>
<br/>
<h1 class="mb-4 text-gray-700 tracking-tight font-extrabold">Riesgos</h1>
<div class="sm:col-span-4 justify-center">
    <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-200 dark:text-gray-800" id="nya" name="nya" type="text" required>
    </textarea>  
</div>