<div class="mb-6">
	  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
		<div>
		  <label class="block text-gray-800 text-sm font-bold mb-2" for="nya">Solicitud de Cambio</label>
		  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-400 dark:text-gray-800" id="nya" name="nya" type="text">
		</div>
		<div>
		  <label class="block text-gray-800 text-sm font-bold mb-2" for="codigoSolicitud">Código de Solicitud</label>
		  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-400 dark:text-gray-800" id="codigoSolicitud" name="codigoSolicitud" type="text">
		</div>
		<div>
		  <label class="block text-gray-800 text-sm font-bold mb-2" for="version">Versión</label>
		  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-400 dark:text-gray-800" id="version" name="version" type="text">
		</div>
		<div>
		  <label class="block text-gray-800 text-sm font-bold mb-2" for="fecha">Fecha</label>
		  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-400 dark:text-gray-800" id="fecha" name="fecha" placeholder="29/10/2023" type="date">
		</div>
	  </div>
</div>

  